:root {
  --white: #fff;
  --offWhite: #f1f1f1;
  --offBlack: #595959;
  --black: #1a1a1a;
  --lightBlue: #cfd9e1;
  --blue: #0e3f6a;
  --gray: #dadada;
}

@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/Outfit-VariableFont_wght.ttf");
}

body {
  background-color: var(--offWhite);
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-size: 24px;
  color: var(--blue);
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  color: var(--blue);
  margin: 0;
  padding: 0;
}

h3 {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  color: var(--blue);
  margin: 0;
  padding: 0;
}

p,
label,
span,
a,
select,
option,
input,
input::placeholder,
button {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  padding: 0;
  color: var(--offBlack);
  text-decoration: none;
}

input::placeholder {
  opacity: 0.5;
}

a.active {
  color: var(--blue);
}

/* ---- mobileNav ---- */
.mobileNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--blue);
  padding: 24px 0;
  position: fixed;
  z-index: 999;
}

.mobileNav .hamburger,
.mobilemenu .top .hamburger {
  background-image: url("../assets/images/hamburger.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 24px;
  height: 24px;
  margin-left: 24px;
}

.mobileNav .profilePicture,
.mobilemenu .top .profilePicture {
  background-image: url("../assets/images/Tom.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 30px;
  height: 30px;
  border: 1px solid var(--white);
  border-radius: 50%;
  margin-right: 24px;
}

.mobilemenu {
  display: none;
  flex-direction: column;
  gap: 24px;
  height: 100vh;
  background-color: var(--blue);
  position: fixed;
  z-index: 999;
  width: 100%;
}

.mobilemenu .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--blue);
  padding: 24px 0;
}

.mobilemenu .top .fa-plus {
  font-size: 24px;
  color: var(--white);
  padding-left: 24px;
  transform: rotate(-45deg);
  margin-top: 16px;
}

.mobilemenu .menu {
  display: flex;
  flex-direction: column;
  gap: 64px;
  height: 93.7vh;
  padding-left: 24px;
}

.mobilemenu .menu div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.mobilemenu .menu div img {
  width: 24px;
}

.mobilemenu .menu div p {
  color: var(--white);
}

/* ---- desktopNav ---- */
.desktopNav {
  display: none;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  background-color: var(--blue);
  width: 120px;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  z-index: 999;
  margin-left: -60px;
  transition: margin-left 0.5s ease-in-out; /* Voeg een overgang toe voor de marge om de beweging te verzachten */
}

.open-desktopNav {
  animation: slideInDesktopNav 0.5s forwards; /* Start de keyframe-animatie om het menu in te schuiven */
}

@keyframes slideInDesktopNav {
  from {
    margin-left: -80px; /* Beginpositie van het menu */
  }
  to {
    margin-left: 0; /* Eindpositie van het menu */
  }
}

.desktopNav .column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  gap: 16px;
  height: 100%;
  padding: 16px;
}

.desktopNav .center {
  padding: 0px;
}

.desktopNav .column .top {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.desktopNav .column .top .logo {
  background-image: url("../assets/images/FaviconWhite.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 32px;
  height: 32px;
  margin-top: 16px;
}

.desktopNav .column .top .border {
  width: 100%;
  border: 1px solid var(--white);
}

.desktopNav .column .menu,
.desktopNav .column .settings {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.desktopNav .column .menu div,
.desktopNav .column .settings div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.desktopNav .column .menu div p,
.desktopNav .column .settings div p {
  display: none;
  color: var(--white);
}

.desktopNav .column .menu img,
.desktopNav .column .settings img {
  color: white;
  opacity: 0.6;
  width: 24px;
}

.desktopNav .column .menu img.active,
.desktopNav .column .settings img.active {
  opacity: 1;
}

.desktopNav .column i {
  font-size: 24px;
  color: #fff;
}

/* ---- login ---- */
#login {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
}

#login .text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  width: 100%;
}

#login .text .partners {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}

#login .text .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

#login .text .row .border {
  border-bottom: 1px solid #000;
  width: 100%;
}

#login .text form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#login .text form .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#login .text form .column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#login .text form .column .password {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

#login .text form .column a {
  text-align: right;
  width: 100%;
  opacity: 0.6;
}

#login .text form .row div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#login .text form .row div input,
#login .text form .column input {
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 4px 8px;
  border-radius: 8px;
  background-color: transparent;
  width: 90%;
}

#login .text form .column input {
  width: 96.6%;
}

.passwordInput .row {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  gap: 0 !important;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.passwordInput .row input {
  border: none !important;
  width: 100% !important;
}

#login .image {
  background-image: url("../assets/images/loginImage.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 366px;
}

/* ---- signUp ---- */
#signUp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
}

#signUp .text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}

#signUp .text .partners {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}

.row .number {
  border: 1px solid var(--blue);
  color: var(--blue);
  border-radius: 50%;
  width: 32px;
  height: 12.8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.row .number.active {
  background-color: var(--blue);
  color: var(--white);
}

#signUp .text .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

#signUp .text .row select {
  padding: 4px 8px;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

#signUp .text .bar {
  padding: 0 48px;
  width: auto !important;
  gap: 0;
}

#signUp .text .row .border {
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  width: 100%;
}

#signUp .text form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#signUp .text form .text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

#signUp .text form .row div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

#signUp .text form .column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.fa-eye-slash,
.fa-eye {
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: var(--black);
  padding: 4px 8px;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}

#signUp .text form .column .password {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-end;
}

#signUp .text form .column a {
  text-align: right;
  width: 100%;
  opacity: 0.6;
}

#signUp .text form .row div input,
#signUp .text form .column input {
  padding: 4px 8px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  background-color: transparent;
}

#signUp .text form .column input {
  width: 96.6%;
}

#signUp .image {
  background-image: url("../assets/images/signUpImage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 366px;
}

.btn {
  padding: 8px 16px;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 8px;
  border: none;
  text-decoration: none;
}

.alert {
  color: red;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 8px 16px;
}

.alert.success {
  color: green;
}

/* ---- dashboard ---- */
/* #dashboard {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
} */

#dashboard .notifications {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#dashboard .notifications .notification {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 16px;
  border-radius: 16px;
}

#dashboard .notifications .notification.error,
#dashboard .notifications .notification.error p {
  color: red;
}

/* ---- account ---- */
#account {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  padding-left: 80px;
}

#account .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 16px;
  padding: 24px;
}

#account .gegevens {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 16px;
  padding: 24px;
}

#account .gegevens h2 {
  width: 100%;
  text-align: left;
}

#account .gegevens .fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
}

#account .gegevens .fields .field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid #0e3f6a;
  padding: 8px 16px 8px 4px;
  border-radius: 8px;
  width: 100%;
}

#account .gegevens .fields .field input {
  background-color: transparent;
  border: none;
  color: var(--offBlack);
}

#account .gegevens .fields .field label,
#account .gegevens .fields .field select,
#account .gegevens .fields .field input {
  padding: 0px 8px;
  margin-top: 8px;
}

#account .gegevens .fields .field select {
  background-color: transparent;
  border: none;
  height: 24px;
}

#account .gegevens .fields .field label {
  background-color: var(--blue);
  color: var(--white);
  margin-top: -20px;
  margin-left: 8px;
  border-radius: 4px;
  position: absolute;
}

#account .info .image {
  background-image: url("../assets/images/wallpaper.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 140px;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: flex-start;
}

#account .info .image a {
  padding: 8px;
  margin: 16px 16px 0px 0px;
  border-radius: 8px;
  color: var(--blue);
  background-color: var(--white);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

#account .info .profilePicture {
  background-image: url("../assets/images/Tom.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 4px solid var(--white);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -80px;
}

#account .info .fa-edit {
  padding: 8px;
  height: 24px;
  width: 24px;
  font-size: 16px;
  border-radius: 50%;
  color: var(--white);
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -52px;
  margin-left: 52px;
}

#account .info .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

#account .info .row div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

#account .info .row div p {
  color: var(--blue);
}

/* ---- roadmap ---- */
#roadmap h1 {
  width: 100%;
  text-align: left;
}

#roadmap .elements {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

#roadmap .elements .border {
  width: 2px;
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.4);
}

#roadmapAdmin .nav {
  display: none;
  flex-direction: row;
  width: 100%;
  padding: 0 24px;
}

#roadmapAdmin .steps {
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 24px;
}

#roadmapAdmin .steps h2 {
  padding-top: 24px;
  padding-left: 24px;
}

#roadmapAdmin .steps .addTaskBtn {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: var(--lightBlue);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: var(--white);
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#roadmapAdmin .steps .step:nth-child(even) {
  background-color: var(--blue);
}
#roadmapAdmin .steps .step:nth-child(odd) {
  background-color: var(--offWhite);
}

#roadmapAdmin .stepID {
  width: 28%;
}

#roadmapAdmin .steps .step:nth-child(even) .stepID {
  color: var(--white);
}

#roadmapAdmin .steps .step:nth-child(odd) .stepID {
  color: var(--blue);
}

#roadmapAdmin .label {
  max-width: 24%;
}

#roadmapAdmin .question {
  width: 100%;
}

#roadmapAdmin .answer {
  width: 100%;
}

#roadmapAdmin .steps .stepContent {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 40px 24px;
}

#roadmapAdmin .steps .stepContent .text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
}

#roadmapAdmin .steps .stepContent .icons,
#stats .sectors .sector .icons {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

#roadmapAdmin .steps .stepContent .icons button,
#stats .sectors .sector .icons button {
  background-color: transparent;
  border: none;
}

#roadmapAdmin .steps .stepContent .icons i,
#stats .sectors .sector .icons i {
  font-size: 24px;
}

#roadmapAdmin .steps .stepContent .icons .fa-edit,
#stats .sectors .sector .icons .fa-edit {
  color: var(--blue);
}

#roadmapAdmin .steps .stepContent .icons .fa-trash,
#stats .sectors .sector .icons .fa-trash {
  color: red;
}

#roadmap .tasks .task:before {
  content: "";
  position: absolute;
  left: -38px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  z-index: 998;
  background-color: #dadada;
}

#roadmap .tasks .task.active:before {
  background-color: var(--blue);
}

#roadmap .tasks .task {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 16px;
}

#roadmap .tasks .task.inactive {
  background-color: var(--gray);
}

#roadmap .tasks .task.active {
  background-color: #cfd9e1;
}

#roadmap .tasks .task.active .label {
  background-color: var(--white);
  color: var(--black);
}

#roadmap .tasks .task .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 24px;
}

#roadmap .tasks .task .row div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

#roadmap .tasks .task .label {
  background-color: #cfd9e1;
  padding: 8px 16px;
  border-radius: 8px;
}

#roadmap .tasks .task.inactive .label {
  background-color: #9d9d9c;
}
#roadmap .tasks .task.inactive .question,
#roadmap .tasks .task.inactive i {
  color: #666664;
}

#roadmap .tasks .task .question {
  color: var(--blue);
}

#roadmap .tasks .task .answer {
  display: none;
}

#roadmap .tasks .task {
  position: relative; /* Zorgt ervoor dat het pseudo-element relatief gepositioneerd is */
}

#roadmap .readmore {
  padding: 8px 16px;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 45px;
}

#roadmap .tasks .task .row .fa-check-square-o {
  color: var(--blue);
}
#roadmap .tasks .task .row.display {
  display: none;
}

#roadmap .tasks .task.active .answer,
#roadmap .tasks .task.active .row.display {
  display: flex;
}

#roadmap .progress {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 24px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  bottom: 24px;
}

#roadmap .progress .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

#roadmap .progress .bar1 {
  border: 1px solid gray;
  width: 100%;
}

#roadmap .progress .bar2 {
  border: 3px solid green;
  width: 50%;
  transform: translateY(-3.2px);
}

#task-details {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  padding-left: 80px;
}

#task-details .top {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

#task-details .top i {
  background-color: var(--lightBlue);
  padding: 8px;
  font-size: 24px;
  width: 24px;
  height: 100%;
  text-align: center;
  border-radius: 50%;
}

#task-details .elements {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#task-details .elements .text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  gap: 16px;
}

#task-details .image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 200px;
  border-radius: 16px;
}

/* ---- stats ---- */
#dashboard,
#stats,
#roadmap,
#roadmapAdmin,
#subsidies,
#subsidie-details,
#addSubsidie,
#addSector,
#addTask,
#users,
#helpdesk {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  padding-top: 104px;
}

#stats .elements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

#stats .sectors {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#stats .sectors .sector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#stats .sectors .sector input {
  background-color: transparent;
  border: 1px solid var(--black);
  padding: 4px 8px;
  width: 332px;
}

#stats .top,
#stats .left .overview {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#stats .left {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#stats .left .overview .btnsElements {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

#stats .left .overview .elements,
#stats .legenda {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 16px;
  overflow: hidden;
}

#prevBtn,
#nextBtn {
  background-color: var(--blue);
  width: 32px;
  height: 32px;
  padding: 8px;
  color: var(--white);
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#prevBtn i,
#nextBtn i {
  font-size: 24px;
}

#stats .left .overview .elements .element {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.6);
  max-width: 100%;
  height: 133px;
}

#stats .left .overview .elements .element .row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

#stats .left .overview .elements .element .price {
  font-weight: bold;
}

#stats .left .overview .elements .element .increaseRow,
#stats .legenda .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

#stats .left .overview .elements .element .increaseRow.green,
#stats .left .overview .elements .element .increaseRow.green p {
  color: green;
}

#stats .left .overview .elements .element .increaseRow.red,
#stats .left .overview .elements .element .increaseRow.red p {
  color: red;
}

#stats .left .rapport {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#stats .left .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#stats select {
  background-color: transparent;
  border: none;
}

#stats .left .figure {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#stats .left .figure #curve_chart text {
  font-family: "Outfit";
  font-size: 16px;
}

#stats .left .figure rect {
  fill: transparent;
  width: 100%;
}

#stats .left .figure .yAs {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-end;
  padding-right: 16px;
}

#stats .left .figure .figureRight {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

#stats .left .figure .figureRight .graphic {
  background-color: var(--gray);
  height: 100%;
  border-left: 1px solid var(--lightBlue);
}

#stats .left .figure .figureRight .xAs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#stats .legenda .item .circle {
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

#stats .legenda .item .circle.blue {
  background-color: var(--blue);
}

#stats .legenda .item .circle.green {
  background-color: green;
}

#stats .legenda .item .circle.gray {
  background-color: #dadada;
}

#stats .two .figure .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}

#stats .two .figure select {
  transform: rotate(-90deg);
}

#stats .two .figure .column select {
  transform: rotate(0deg);
}

#stats .right {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#stats .right .background {
  padding: 16px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
}

#stats .right .background.center {
  justify-content: center;
  align-items: center;
}

#stats .right .background.center h2 {
  width: 100%;
  text-align: left;
}

#stats .right .background.center h3 {
  font-size: 32px;
}

#stats .right .background .circle1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 200px;
  height: 200px;
  border: 6px solid #dadada;
  border-radius: 50%;
}

#stats .right .background .questions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#stats .right .background .questions .question {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* ---- subsidies ---- */
#addSector form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

#subsidies .subsidies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

#subsidies.admin .subsidies {
  display: inline;
}

#subsidies.admin .subsidies button,
.steps button {
  margin-top: 16px;
}

#subsidieSelector select {
  width: 100%;
}

#subsidies .subsidies .subsidie {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 16px;
  width: 366px;
  position: relative; /* Voeg relatieve positionering toe aan .subsidie om absolute positionering binnen .subsidie mogelijk te maken */
}

#subsidies.admin .subsidies .subsidie {
  flex-direction: row;
  width: 100%;
  border-radius: 0px;
}

#subsidies.admin .subsidies .subsidie input,
#subsidies.admin .subsidies .subsidie textarea {
  color: var(--black);
  padding: 4px 8px;
}

#subsidies .subsidies .subsidie .delete {
  position: absolute;
  top: 8px; /* Plaats de .delete 8px vanaf de bovenkant */
  right: 8px; /* Plaats de .delete 8px vanaf de rechterkant */
  z-index: 999; /* Zorg ervoor dat de delete-klasse bovenop staat */
  background-color: rgba(255, 255, 255, 0.6);
  padding: 8px;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
}

#subsidies .subsidies .subsidie .edit {
  position: absolute;
  top: 8px; /* Plaats de .delete 8px vanaf de bovenkant */
  right: 56px; /* Plaats de .delete 8px vanaf de rechterkant */
  z-index: 999; /* Zorg ervoor dat de delete-klasse bovenop staat */
  background-color: rgba(255, 255, 255, 0.6);
  padding: 8px;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
}

#subsidies .subsidies .subsidie .delete i,
#subsidies .subsidies .subsidie .edit i {
  font-size: 24px;
  color: var(--black);
}

#subsidies .subsidies .subsidie .image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 200px;
  border-radius: 16px 16px 0 0;
}

#subsidies .subsidies .subsidie .text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

#users .users .user .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

#users .users .user .text .row {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

#users .users .user .text input {
  width: 100%;
}

#users .users .buttons {
  margin-top: 16px;
}

#subsidies .subsidies .subsidie p {
  opacity: 0.8;
  text-decoration: underline;
}

#subsidie-details .text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#subsidie-details .text .description,
#subsidie-details .text .summary {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}

#subsidie-details .text .summary {
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 16px;
}

#subsidie-details .image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 200px;
  border-radius: 16px;
}

#addSubsidie form,
#addTask form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#addTask form .column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#addSubsidie form .row .column {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.subsidies .buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

/* ---- helpdesk ---- */

#helpdesk .FAQ,
#helpdesk .contactUs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#stats .top,
#helpdesk .FAQ .top,
#subsidies .top,
#roadmapAdmin .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#helpdesk .FAQ .top .filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--blue);
  border-radius: 8px;
  padding: 8px;
}

#helpdesk .FAQ .top .filter select,
#helpdesk .FAQ .top .filter option {
  background-color: transparent;
  border: none;
  color: var(--black);
}
#helpdesk .FAQ .top .filter p,
#helpdesk .FAQ .top .filter i {
  color: var(--blue);
}

#helpdesk .FAQ .questions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#helpdesk .FAQ .questions .question {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  color: var(--blue);
}

#helpdesk .FAQ .questions .question div {
  color: var(--blue);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 16px;
  border-radius: 8px;
  color: var(--blue);
}

#helpdesk .FAQ .questions .question .answer {
  display: none;
  padding: 16px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out; /* Voeg een overgang toe voor de opacity */
}

#helpdesk .FAQ .questions .question .answer.show-answer {
  display: flex;
  opacity: 1;
}

@keyframes rotateIcon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-180deg);
  }
}

@keyframes rotateIconReverse {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

#helpdesk .contactUs .supports {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

#helpdesk .contactUs .support {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 16px;
  border-radius: 8px;
  width: 100%;
}

#helpdesk .contactUs .support a {
  text-decoration: underline;
}

#helpdesk .contactUs .support i {
  background-color: var(--blue);
  width: 68px;
  height: 68px;
  font-size: 24px;
  color: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#helpdesk .contactUs .support .btn {
  text-decoration: none;
}

/* ---- settings ---- */
#settings {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  padding-left: 80px;
}

#settings .elements {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

#settings .elements .navigation {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#settings .elements .navigation a.active {
  padding: 8px 16px;
  background-color: var(--lightBlue);
  color: var(--blue);
  border-radius: 8px;
}

#settings .elements .option {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
}

#settings .elements .border {
  border-left: 1px solid var(--lightBlue);
}

#settings .elements .option .border {
  border-top: 1px solid var(--lightBlue);
  width: 100%;
}

#settings .elements .option .info {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

#settings .elements .option .info .profilePicture {
  width: 78.28px;
  height: 78.28px;
  background-image: url(../assets/images/Tom.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
}

#settings .elements .option .info .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 92px;
}

#settings .elements .option .btn {
  padding: 8px 16px;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 8px;
}

#settings .option .extraInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#settings .option .extraInfo .fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 36px;
}

#settings .option .extraInfo .fields .field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 25%;
}

#settings .option .extraInfo .fields .field input {
  background-color: transparent;
  border: 1px solid var(--black);
  border-radius: 8px;
  color: var(--offBlack);
  opacity: 0.8;
  padding: 8px;
}

#settings .option .extraInfo .fields .field input::placeholder {
  color: var(--offBlack);
  opacity: 0.8;
}

#settings .option .extraInfo .fields .field select {
  background-color: transparent;
  height: 42px;
  border: 1px solid var(--black);
  border-radius: 8px;
  color: var(--offBlack);
  padding: 8px;
  opacity: 0.8;
}

#settings .option .extraInfo .fields .field label {
  color: var(--offBlack);
}

#settings .option form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
}

#settings .option .success {
  color: green;
}

#settings .option .verification,
#settings .option .notifications,
#settings .option .account {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

#settings .option .verification .row,
#settings .option .notifications .row,
#settings .option .account .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#settings .option .account .row .btn {
  padding: 8px 16px;
  border-radius: 45px;
  color: var(--blue);
  background-color: var(--lightBlue);
}

#settings .option .account .row .btn.red,
#settings .elements .option .btn.red,
.subsidies .remove,
.users .remove {
  color: #d34848;
  border: 1px solid #d34848;
  background-color: rgba(211, 72, 72, 0.2);
}

.users .remove {
  margin-top: 16px;
}

#settings .option .field {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 50%;
}

#settings .option .field input {
  background-color: transparent;
  border: 1px solid var(--black);
  border-radius: 8px;
  color: var(--offBlack);
  opacity: 0.8;
  padding: 8px;
  width: 100%;
}

#settings .option .toggle {
  width: 52px;
  height: 32px;
  background-color: #dadada;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
}

.toggle-handle {
  width: 26px;
  height: 26px;
  background-color: var(--blue);
  border-radius: 50%;
  position: absolute;
  top: 3px; /* Aangepaste waarde om de handle verticaal in het midden te positioneren */
  left: 3px;
  transition: transform 0.3s ease;
}

.toggle.active .toggle-handle {
  transform: translateX(80%);
}

#settings .option .toggle.active {
  background-color: var(--lightBlue);
}

.popup,
.popupIsAdmin {
  display: none;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px;
  padding: 24px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.6);
}

.popup .btns,
.popupIsAdmin .btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* ---- chat ---- */
.chatButton {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  padding: 8px 16px;
  border-radius: 16px;
  background-color: var(--blue);
  width: fit-content;
  position: fixed;
  bottom: 24px;
  right: 24px;
  position: fixed;
  width: fit-content;
}

.chat {
  display: none;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  width: fit-content;
  position: fixed;
  width: fit-content;
  border-radius: 16px;
  width: 320px;
  bottom: 24px;
  right: 24px;
}

.chat .top {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
  width: 100%;
  background-color: var(--blue);
  padding: 16px 0;
  border-radius: 16px 16px 0px 0px;
}

.chat .top i {
  padding-right: 24px;
  transform: rotate(-45deg);
  font-size: 24px;
  color: var(--white);
}

.chat .top .row,
.chat .center .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.chat .top .row .profilePictureAdmin {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 68px;
  height: 68px;
  border: 1px solid var(--white);
  border-radius: 50%;
  margin-left: 24px;
}

.chat .top .row .column {
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.chat .top .row .column span,
.chat .top .row .column h3 {
  color: #fff;
}

.chatButton i,
.chatButton p {
  color: var(--white);
}

.chat .center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: var(--offWhite);
  padding: 16px 0;
  overflow-y: auto;
  max-height: 200px;
  width: 100%;
}

.chat .center .row {
  align-items: flex-start;
  gap: 16px;
}

.chat .center .row .profilePicture {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 40px;
  height: 40px;
  border: 1px solid var(--white);
  border-radius: 50%;
  margin-left: 24px;
}

.chat .center .user .profilePicture {
  order: 1;
  margin-right: 24px;
  margin-left: 0;
}

.chat .center .row p {
  width: 68%;
  margin-right: 24px;
}

.chat .center .user p {
  margin-left: 24px;
  margin-right: 0px;
}

.chat .bottom {
  background-color: var(--white);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 0px 0px 16px 16px;
}

.chat .bottom input {
  padding: 16px 0;
  border: none;
}

.chat .bottom input::placeholder {
  padding-left: 8px;
}
.chat .bottom .border {
  border: 1px solid var(--offBlack);
}

.chat .bottom .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}

.chat .bottom .row .fa-paperclip {
  transform: rotate(90deg);
  font-size: 24px;
}

.chat .bottom .signout {
  background-color: transparent;
  border: none;
  opacity: 0.8;
  font-size: 24px;
}

@media (min-width: 800px) {
  .mobileNav {
    display: none;
  }

  .desktopNav {
    display: flex;
  }

  #dashboard,
  #stats,
  #roadmap,
  #roadmapAdmin,
  #subsidies,
  #subsidie-details,
  #addSubsidie,
  #addSector,
  #addTask,
  #users,
  #helpdesk {
    padding: 24px;
  }

  #login {
    height: 95.9vh;
  }

  #login .text {
    width: 100%;
    height: 50%;
  }

  #login .image {
    height: 649px;
    height: 50%;
  }

  /* ---- signUp ---- */
  #signUp {
    height: 95.9vh;
  }

  #signUp .text {
    width: 100%;
    height: 50%;
  }

  #signUp .image {
    height: 649px;
    height: 50%;
  }

  /* ---- account ---- */
  #account .gegevens .fields .field {
    width: 100%;
  }

  /* ---- stats ---- */
  #stats .elements .left,
  #stats .elements .right {
    width: 48%;
  }

  #stats .left .overview .elements .element {
    min-width: 160px !important;
  }

  /* ---- helpdesk ---- */
  #helpdesk .contactUs .support {
    width: 44%;
  }

  /* ---- subsidies ---- */
  #subsidie-details .text,
  #task-details .text {
    flex-direction: row;
    justify-content: space-between;
  }

  #subsidie-details .text div,
  #task-details .text div {
    width: 48%;
  }

  #addSubsidie form .row .column,
  #addSubsidie form .row .column {
    width: 49%;
  }

  /* ---- roadmap ---- */
  #roadmap,
  #roadmapAdmin {
    /* width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    overflow: hidden;
  }

  #roadmap .elements {
    width: 100%;
    display: flex;
    gap: 24px;
    transform: translateX(50%);
  }

  #roadmap .elements .bar {
    border-color: red;
    height: auto;
  }

  #roadmap .tasks {
    width: 45%;
  }

  #roadmap .tasks .task {
    width: 100%;
  }

  #roadmap .tasks .task:nth-child(odd):before {
    display: none;
  }

  #roadmap .tasks .task:nth-child(odd):after {
    content: "";
    position: absolute;
    right: -42px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    z-index: 999;
    background-color: #dadada;
  }

  #roadmap .tasks .task.active:nth-child(odd):after {
    background-color: var(--blue);
  }

  #roadmapAdmin .nav {
    display: flex;
  }

  #roadmapAdmin .topStepID {
    width: 10%;
  }

  #roadmapAdmin .stepID {
    width: 9%;
  }

  #roadmapAdmin .topLabel {
    width: 15%;
  }

  #roadmapAdmin .label {
    width: 14%;
  }

  #roadmapAdmin .topQuestion {
    width: 32%;
  }

  #roadmapAdmin .question {
    width: 32%;
  }

  #roadmapAdmin .topAnswer {
    width: 35.5%;
  }

  #roadmapAdmin .answer {
    width: 32%;
  }

  /* #roadmap .tasks .task:before {
    content: "";
    position: absolute;
    left: -38px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    z-index: 999;
    background-color: #dadada;
  } */

  #roadmap .tasks .task:nth-child(odd) {
    transform: translateX(calc(-100% + (-57px)));
  }

  #task-details .elements {
    flex-direction: row;
    justify-content: space-between;
  }

  #settings .elements .option .info .profilePicture {
    width: 92px;
    height: 92px;
  }
}

@media (min-width: 1200px) {
  .desktopNav {
    margin-left: 0;
  }

  #login {
    height: 100vh;
    overflow: hidden;
  }

  #login .text {
    padding-left: 200px;
  }

  #login .text,
  #login .image {
    width: 42%;
    justify-content: center;
    height: 100%;
  }

  /* ---- signUp ---- */
  #signUp {
    height: 100vh;
    overflow: hidden;
  }

  #signUp .text {
    padding-left: 200px;
  }

  #signUp .text,
  #signUp .image {
    width: 42%;
    justify-content: center;
    height: 100%;
  }

  /* ---- account ---- */
  #account {
    padding-left: 144px;
  }

  #account .info .image {
    height: 200px;
  }

  #account .info .profilePicture {
    width: 200px;
    height: 200px;
    margin-top: -120px;
  }

  #account .gegevens .fields .field {
    width: 30%;
  }

  #account .info .fa-edit {
    margin-top: -60px;
    margin-left: 100px;
  }

  /* ---- stats ---- */
  #stats .elements .left {
    width: 66%;
  }

  #stats .elements .right {
    width: 32%;
  }

  /* ---- helpdesk ---- */
  #dashboard,
  #roadmap,
  #roadmapAdmin,
  #stats,
  #subsidies,
  #subsidie-details,
  #addSubsidie,
  #addSector,
  #addTask,
  #users,
  #task-details,
  #helpdesk,
  #settings {
    padding-left: 144px;
  }

  #helpdesk .FAQ,
  #helpdesk .contactUs {
    max-width: 100%;
  }

  #helpdesk .contactUs .support {
    width: 272px;
  }

  /* ---- subsidies ---- */
  #subsidies .subsidies .subsidie {
    width: 319px;
  }

  #subsidie-details .image,
  #task-details .image {
    height: 320px;
  }

  /* ---- roadmap ---- */
  #roadmap {
    padding-left: calc(28px + 120px);
    padding-right: 28px;
  }

  #roadmapAdmin .topStepID {
    width: 6%;
  }

  #roadmapAdmin .stepID {
    width: 5%;
  }

  #roadmapAdmin .topLabel {
    width: 7%;
  }

  #roadmapAdmin .label {
    width: 7%;
  }

  #roadmapAdmin .topQuestion {
    width: 38%;
  }

  #roadmapAdmin .question {
    width: 40%;
  }

  #roadmapAdmin .topAnswer {
    width: 31.8%;
  }

  #roadmapAdmin .answer {
    width: 40%;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
