@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");

:root {
  --blue: #0e3f6a;
  --black: #1a1a1a;
  --white: #fff;
  --offwhite: #f1f1f1;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--offwhite);
}

h1 {
  font-family: "Outfit", sans-serif;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  line-height: 150%;
  color: var(--blue);
  margin: 0;
  padding: 0;
}

h3 {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  line-height: 150%;
  color: var(--blue);
  margin: 0;
  padding: 0;
}

p,
span,
label,
input,
input::placeholder {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  padding: 0;
}

a {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: var(--blue);
  margin: 0;
  padding: 0;
}

.fa {
  color: var(--white);
  font-size: 24px !important;
}

.btn {
  padding: 12px 16px;
  border-radius: 8px;
  background-color: var(--white);
  color: var(--blue);
  text-align: center;
}

.btn.active {
  background-color: var(--blue);
  color: var(--white);
}

/* ---- navigation ---- */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: var(--white);
}

nav .menu,
nav .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.mobileMenu {
  display: none;
  flex-direction: column;
  gap: 24px;
  background-color: var(--offwhite);
  color: var(--blue);
  height: 100vh;
  z-index: 999;
  position: fixed;
  width: 100%;
}

.mobileMenu .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.mobileMenu .menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 24px;
}

.mobileMenu .top i,
.mobileMenu .menu a {
  color: var(--blue);
}

.mobileMenu .logo {
  margin-left: 24px;
}

.mobileMenu .fa-close {
  margin-right: 24px;
}

.tabletDesktopNav {
  display: none;
}

.logo {
  background-image: url("../assets/images/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 80px;
  height: 80px;
}

nav .logoFrame {
  margin-left: 24px;
}

nav .fa-bars {
  color: var(--black);
  padding-right: 24px;
}

#home {
  padding: 24px;
  padding-top: 104px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background-color: var(--blue);
  color: var(--white);
}

#home .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

#home .imageBorder {
  border: 1px solid var(--offwhite);
  padding: 16px;
  border-radius: 16px;
}

#home .imageBorder .image {
  background-image: url("../assets/images/Dashboard-Home.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 334px;
  height: 240px;
}

/* --- How To Use ---- */
#howToUse,
#features {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

#howToUse .btns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

#howToUse .step,
#features .feature {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
}

#howToUse .step .text,
#features .feature .text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#howToUse .step .image {
  background-image: url("../assets/images/Dashboard-Registreren.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 366px;
  height: 260px;
}

#features .feature .image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 366px;
  height: 260px;
}

#features .feature.one .image {
  background-image: url("../assets/images/Dashboard-Agenda.jpg");
}

#features .feature.two .image {
  background-image: url("../assets/images/Dashboard-Chat.jpg");
}

#features .feature.three .image {
  background-image: url("../assets/images/Dashboard-Documents.jpg");
}

/* ---- testimonial ---- */
#testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 24px;
  background-color: var(--blue);
  color: var(--white);
}

#testimonial .reviews {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#testimonial h2 {
  color: var(--white);
}

#testimonial .reviews .review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

#testimonial .reviews .review .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

#testimonial .reviews .review .row .arrow {
  padding: 8px;
  background-color: var(--white);
  border-radius: 50%;
  text-align: center;
  display: flex;
}

#testimonial .reviews .review .row .arrow i {
  color: var(--blue);
  width: 24px;
  height: 24px;
}

#testimonial .reviews .review .image {
  background-image: url("../assets/images/Tom.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  width: 78px;
  height: 78px;
}

#testimonial .reviews .review .stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

#testimonial .reviews .review .stars i {
  color: #ffc000;
}

/* ---- pricing ---- */
#pricing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 24px;
}

#pricing .products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 16px;
}

#pricing .products .product {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: 16px;
  background-color: var(--white);
}

#pricing .products .product .text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 132px;
}

#pricing .products .product.active h3 {
  color: var(--white);
}

#pricing .products .product.active {
  background-color: var(--blue);
  color: var(--white);
}

#pricing .products .product .price {
  font-weight: bold;
  font-size: 24px;
}

#pricing .products .product .list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px;
  background-color: var(--offwhite);
  padding: 16px;
  height: 216px;
}

#pricing .products .product .list div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

#pricing .products .product .list div i {
  color: var(--blue);
}

#pricing .products .product.active .list div p {
  color: var(--blue);
}

#pricing .freeTrial {
  background-color: var(--blue);
  padding: 24px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 16px;
}

#pricing .freeTrial h2 {
  color: var(--white);
}

#pricing .freeTrial .text,
#pricing .freeTrial form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#pricing .freeTrial form div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.newsletter input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--black);
  padding: 8px 0px;
}

.freeTrial input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--white);
  padding: 8px 0px;
}

.freeTrial input::placeholder {
  color: var(--white);
  opacity: 0.6;
}

.newsletter input::placeholder {
  color: var(--blue);
  opacity: 0.6;
}

form .btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  height: 24px;
  width: 120px;
}

form .btn .fa {
  color: var(--blue);
}

#pricing .image {
  background-image: url("../assets/images/freeTrial.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  width: 100%;
  height: 320px;
}

footer {
  background-color: var(--white);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

footer .elements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-between;
}

footer .elements .text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

footer .elements .text div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

footer .elements .text div i {
  color: var(--blue);
}

footer .elements .newsletter {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--offwhite);
  padding: 16px;
  border-radius: 16px;
  width: 100%;
}

footer .elements .newsletter form,
footer .elements .newsletter form div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

footer .border {
  border-bottom: 1px solid var(--black);
  opacity: 0.4;
}

@media (min-width: 800px) {
  .mobileNav {
    display: none;
  }

  .tabletDesktopNav {
    display: flex;
  }

  nav .logoFrame {
    width: 212.35px;
  }

  #howToUse .step .text,
  #howToUse .step .image,
  #features .feature .text,
  #features .feature .image {
    width: 48%;
  }

  #features .feature.two .image {
    order: 2;
  }

  #pricing .products .product {
    width: 44%;
  }

  #pricing .freeTrial {
    flex-direction: row;
  }

  #pricing .freeTrial .text,
  #pricing .freeTrial .image {
    width: 48%;
    height: 422px;
  }

  footer .elements .text,
  footer .elements .newsletter {
    width: 46%;
  }
}

@media (min-width: 1200px) {
  nav .logoFrame {
    margin-left: 200px;
  }

  nav .links {
    margin-right: 200px;
  }

  #home,
  #howToUse,
  #features,
  #testimonial,
  #pricing,
  footer {
    padding: 24px 200px;
  }

  #home {
    padding-top: 104px;
  }

  #pricing .products .product {
    width: 29.2%;
  }

  #howToUse .step .image,
  #features .feature .image {
    width: 480px;
    height: 340px;
  }
}
